/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* GENERAL */

/* PULSANTI DI NAVIGAZIONE  */
.navigation-buttons{
    position: fixed;
    right: 5%;
    top: 5%;
}
 .button::before{
    display: inline-block;
    background-color: white;
    padding: 20px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: black;
 }
.button-1::before{
    content: "1";  

}
.button-2::before{
    content: "2";
    
}

.button-3::before{
    content: "3";
   
}

/* PULSANTI DI NAVIGAZIONE  */


/* PRIMA PAGGINA  */

.first-page{
    height: 100vh;
    background-color: red;
    position: relative;
}
/* PRIMA PAGGINA */


/* SECONDA PAGGINA */

.second-page{
    height: 100vh;
    background-color: green;
    position: relative;
}
/* SECONDA PAGGINA */

/* TERZA PAGGINA */


.third-page{
    height: 100vh;
    background-color: yellow;
    position: relative;
} 
/* TERZA PAGGINA */


h2{
    width: 800px;
    text-align: center;
    color: yellow;
    font-size: 3.5em;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    word-spacing: 0.2em;
}

.third-page h2{
    color: green    ;
} 

.container{
    width: fit-content;
    height: fit-content;
    
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
